<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Categories List</title>
</head>
<body>

<h2>Categories List</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Parent Category</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="category : ${categories}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.name}"></td>
        <td th:text="${category.parent != null ? category.parent.name : 'None'}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>